@import "variables.module.scss";
.boatsModule {
  background-color: $ligthBlue;
  position: relative;
}
.topContent {
  display: flex;
  flex-direction: row-reverse;
  .botPic {
    background-image: url(../public/images/kiwi.jpg);
    height: 440px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0px 211px 211px 211px;
    position: relative;
    box-shadow: 0px 0px 5px #000;
  }
  .boatName {
    font-family: roboto;
    font-weight: 700;
    font-size: 39px;
    color: $darkBlue;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
  }
  .dataContainer {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 440px;
    width: 100%;
    .text {
      color: #fff;
      position: relative;
    }
    .boatData {
      display: flex;
      flex-direction: row-reverse;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      position: relative;
      p {
        margin: 0%;
      }
      .boatNumber {
        display: flex;
        border-radius: 100%;
        background-color: #64a5bf;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        margin-right: -16px;
        font-family: roboto;
        height: 55px;
        width: 55px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .darkishBlue {
        background-color: $darkishBlue;
      }
      .boatText {
        padding: 5px 20px;
        color: #fff;
        background-color: $darkishBlue;
        border-radius: 0px 211px 211px 0px;
      }
    }
  }

  &.botContent-reverse {
    .botPic {
      height: 440px;
      width: 100%;
      background-size: cover;
      background-position: bottom;
      border-radius: 211px 0px 211px 211px;
    }
    .boatData {
      .boatNumber {
        margin-right: 0px;
        margin-left: -16px;
      }
      .boatText {
        padding: 5px 20px;
        color: #fff;
        background-color: $darkishBlue;
        border-radius: 211px 0px 0px 211px;
      }
    }
  }
}

.botContent {
  display: flex;
  flex-direction: row-reverse;
  .botPic {
    background-image: url(../public/images/mango.jpg);
    height: 440px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    border-radius: 211px 0px 0px 211px;
    position: relative;
    box-shadow: 0px 0px 5px #000;
  }
  .boatName {
    font-family: roboto;
    font-weight: 700;
    font-size: 39px;
    color: $darkBlue;
    text-transform: capitalize;
    text-align: end;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    height: fit-content;
  }
  .dataContainer {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    height: 550px;
    width: 100%;
    .text {
      color: #fff;
      position: relative;
    }
    .boatData {
      display: flex;
      flex-direction: row-reverse;
      text-align: end;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      position: relative;
      p {
        margin: 0%;
      }
      .boatNumber {
        display: flex;
        border-radius: 100%;
        background-color: #64a5bf;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        margin-right: -16px;
        font-family: roboto;
        height: 55px;
        width: 55px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .darkishBlue {
        background-color: $darkishBlue;
      }
      .boatText {
        padding: 5px 20px;
        color: #fff;
        background-color: $darkishBlue;
        border-radius: 0px 211px 211px 0px;
      }
    }
  }

  &.botContent-reverse {
    .botPic {
      background-image: url(../public/images/mango.jpg);
      height: 440px;
      width: 100%;
      background-size: cover;
      background-position: bottom;
      border-radius: 211px 0px 211px 211px;
    }
    .boatData {
      .boatNumber {
        margin-right: 0px;
        margin-left: -16px;
      }
      .boatText {
        padding: 5px 20px;
        color: #fff;
        background-color: $darkishBlue;
        border-radius: 211px 0px 0px 211px;
      }
    }
  }
}
.mobile{
  display: none;
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .topContent,
  .botContent {
    display: none;
  }
  .mobile{
    display: unset;
  }
}
