@import "variables.module.scss";
.boatsModule{
    background-color: #F3DDB4;
}
.topContent {
    display: flex;
    flex-direction: row;
    .pic {
        background-image: url(../public/images/mango.jpg);
        height: 440px;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        border-radius: 0px 221px 221px 221px;
    }
    .boatName {
        font-size: 40px;
        font-family: roboto;
        font-weight: 700;
        color: $darkBlue;
        text-transform: capitalize;
    }
    .dataContainer {
        height: 440px;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 100px 0px;
        .boatData {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            margin-bottom: 15px;

            .boatNumber {
                padding: 18px 20px;
                border-radius: 100%;
                background-color: $ligthBlue;
                color: #fff;
                font-size: 25px;
                font-weight: 700;
                font-family: roboto;
                height: 70px;
                width: 70px;
                position: relative;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .phantomdiv {
                background-color: transparent;
            }
            .darkishBlue {
                background-color: $darkishBlue;
            }
            .boatText {
                padding: 5px 20px;
                color: #fff;
                background-color: $darkishBlue;
                border-radius: 211px;
            }
        }
    }
}

.botContent {
    display: flex;
    flex-direction: row-reverse;
    .botPic {
        background-image: url(../public/images/mango.jpg);
        height: 440px;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        border-radius: 221px 221px 0px 221px;
        margin-bottom: 120px;
    }
    .boatName {
        font-family: roboto;
        font-weight: 700;
        font-size: 39px;
        color: $darkBlue;
        text-transform: capitalize;
        text-align: left;
        justify-content: left;
        margin-bottom: 30px;
    }
    .dataContainer {
        height: 440px;
        width: 100%;
        .boatData {
            display: flex;
            flex-direction: row-reverse;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            p {
                margin: 0%;
            }
            .boatNumber {
                padding: 18px 20px;
                border-radius: 100%;
                background-color: $ligthBlue;
                color: #fff;
                font-size: 25px;
                font-weight: 700;
                font-family: roboto;
                height: 70px;
                width: 70px;
                position: relative;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .darkishBlue {
                background-color: $darkishBlue;
            }
            .boatText {
                padding: 5px 20px;
                color: #fff;
                background-color: $darkishBlue;
                border-radius: 211px;
                margin-right: -15px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .topContent,
    .botContent {
        display: none;
    }
}
