@import "variables.module.scss";

.picContainer{
    height: 200px;
    width: 100%;
    text-align: center;
    align-items: center;
    img{
        height: 100%;
        width:60%;
        border-radius: 8pt;
    }
}