@import "variables.module.scss";

.reservar {
  font-family: DMSans;
  font-weight: 700;
  background-color: $orange;
  border-radius: 8px;
  padding: 10px 30px;
  width: fit-content;
  height: auto;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  color: $beige;
  font-weight: bold;
  transition: all ease-in-out 0.2s;
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 16px;
  a,
  p {
    text-decoration: none;
    color: $beige;
    margin-bottom: 0px;
    pointer-events: none;
  }
  &:hover{
    background-color: #E6A029;
  }
}

@keyframes shown {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.ToolTip {
  position: fixed;
  transform: translateX(-50%);
  background: grey;
  padding: 2px 8px;
  border-radius: 4px;
  opacity: 0;
  p {
    margin-bottom: 0px;
  }
  &.shown {
    display: block;
    animation: shown 1s 0.1s ease forwards;
  }
  &.hide {
    display: none;
  }
}
