@import "variables.module.scss";

.captainsModule {
    align-items: center;
    justify-content: center;
    background-color: $beige;
    padding-bottom: 30px;
    .colContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        .textContainer {
            width: 50%;

            p {
                margin-bottom: 0%;
            }
            .name {
                font-size: 30px;
                font-family: roboto;
                font-weight: 500;
                text-transform: capitalize;
            }
            .tittle {
                font-size: 20px;
                font-family: roboto;
                font-weight: 400;
            }
            .dataContainer {
                display: flex;
                justify-content: space-between;
                padding-right: 15px;
                padding-top: 15px;
                text-align: center;
                font-family: roboto;
                .dataNumber {
                    font-weight: 700;
                }
                .datatext{
                    font-weight: 400;
                }
            }
        }
        .rigthText {
            text-align: end;
        }
        .rigthData {
            flex-direction: row-reverse;
            padding-right: 0%;
            padding-left: 15px;
        }
        .picContainer {
            width: 50%;
            background-image: url(../public/images/captain1.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 296px;
            border-radius: 8px;
        }
        .rigthPicContainer{
            background-image: url(../public/images/captain2.png);
        }
    }
}
