@import "variables.module.scss";

.captainsModule {
    background-color: transparent;
    color: $darkBlue;
    .colContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        .textContainer {
            width: 100%;
            text-align: center;
            justify-content: center;
            text-align: center;
            p {
                margin-bottom: 0%;
            }
            .name {
                font-size: 21pt;
                font-family: roboto;
                font-weight: 700;
                text-transform: capitalize;
                text-align: center;

            }
            .tittle {
                font-size: 20px;
                font-family: roboto;
                font-weight: 400;
                margin-bottom: 30px;
            }
            .paragraph {
                font-family: roboto;
                font-size: 20px;
                font-style: italic;
            }
            .dataContainer {
                display: flex;
                justify-content: space-between;
                text-align: center;
                font-family: roboto;
                margin-top: 30px;
                margin-bottom: 50px;
                align-items: center;
                .data {
                    text-align: center;
                    align-items: center;
                    justify-content: space-between;
                }
                .dataNumber {
                    font-weight: 700;
                    font-size: 18px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    p {
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        height: 50px;
                        width: 50px;
                    }
                }
                .datatext {
                    font-weight: 400;
                    font-size: 14pt;
                    align-items: center;
                    text-align: center;
                }
                .dataBall {
                    width: 35px;
                    height: 35px;
                    background-color: #fff;
                    border-radius: 100%;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    display: flex;
                }
            }
        }
        
        .picContainer {
            width: 100%;
            background-image: url(../public/images/captain2.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 305px;
            border-radius: 8px;
            margin-left: 15px;
        }
    }
}
