@import "variables.module.scss";
.captains {
    display: flex;
    .captainsContainer {
        display: flex;
        .colContainer {
            display: flex;
            margin-bottom: 30px;
        }
    }
}
.content {
    width: 100%;
    height: 100%;
    .textContainer {
        .tittle {
            font-size: 30px;
            margin: 0%;
        }
    }
    .dataContainer {
        width: 100%;
        display: flex;
        justify-content: start;
        text-align: center;

        .data {
            display: flex;
            flex-direction: column;
            margin: 20px 15px;
            text-align: center;
        }
    }
}
.picContainer {
    background-image: url(../public/images/person1.jpg);
    width: 60%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}
.rigth {
    .textContainer {
        text-align: end;
    }
    .dataContainer {
        width: 100%;
        justify-content: end;
        .data {
            margin: 20px 15px;
        }
    }
    .colContainer {
        text-align: end;
    }
}

@media screen and (max-width:768px) {

    .captains {
    display: flex;
    .captainsContainer {
        display: flex;
        .colContainer {
            display: flex;
        }
    }
    .picContainer{
        width: 100%;
    }
}
}
