// @import "variables.module.scss";
.coastContainer {
  width: 100%;
  height: 200px;
  justify-content: baseline;
  .coast {
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    background-image: url(/images/arena_olas.png);
  }
}
@media screen and (max-width: 768px) {
  .coastContainer {
    height: 415px;
    .coast {
      background-position: initial;
    }
  }
}

@media screen and (max-width: 425px) {
  .coastContainer {
    height: 370px;
    .coast {
      background-position: initial;
    }
  }
}
@media screen and (max-width: 375px) {
  .coastContainer {
    height: 275px;
    .coast {
      background-position: initial;
    }
  }
}