// @import "variables.module.scss";
.coastContainer{
    width: 100%;
    height: 800px;
    justify-content: baseline;
    .coast{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-image: url(../public/images/agua_arena.png);
        @media screen and (max-width: 768px) {
          & {
            background-position: initial;
          }
        }
    }
}