@import "variables.module.scss";





.faqComponent {
  // min-height: calc(100vh - 60px);
  min-height: 100vh;
  height: fit-content;
  background: $boatsBackground;
  background-image: url(../public/bruno/FAQBkg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150vw 100vh;
  color: $darkBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: $orange;

  .textContainer {
    .title {
      color: $darkBlue;
      font-size: 80px;
      line-height: 82px;
      font-weight: 800;
      margin-top: 120px;
      margin-bottom: 30px;
    }

    .content {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;

      .dropdownItem {
        background-color: $boatsBackground;
        height: 50px;
        width: fit-content;
        font-size: 20px;
        font-weight: 500;
        padding: 0px 15px;
        border: 2px solid $orange;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        margin-top: 20px;
        transition: all 0.4s ease;

        .question {
          text-align: left;
          cursor: pointer;
          .text {
            font-family: "Montserrat", sans-serif;
            line-height: 22px;
            display: flex;
            text-align: left;
            justify-content: center;
            margin-top: 3px;

          }

          .icon {
            height: 30px;
            width: 30px;
            margin-right: 10px;
            background-image: url(../public/bruno/arrowFAQ.png);
            background-position: center;
            background-size: cover;
            transition: all 0.4s ease;

          }

          p {
            height: auto;
            margin: auto;

          }
        }

        .answer {
          cursor: pointer;
          opacity: 0;
          height: 0;
          width: 0;
          justify-content: center;
          margin-bottom: 5px;
          pointer-events: none;
          .text {
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            line-height: 22px;
            display: flex;
          }

          p {
            padding: 0;
            opacity: 0;
            justify-content: center;
            transition-delay: 0.2s;
          }
        }

        &.isDown {
          height: 120px;
          .question{
            .icon{
              transform: rotate(90deg);
            }
          }
          .answer {
                 pointer-events:fill;

                opacity: 1;
                height: 25px;
                width: fit-content;
                justify-content: center;
                margin-bottom: 5px;
    
                p {
                  opacity: 1;
                }
    
              }
        }
      }
    }
  }
}