@import "variables.module.scss";

.faqComponent {
    background-color: $beige;
    text-align: left;
    color: $darkBlue;
    text-transform: capitalize;
    p {
        margin: 0%;
    }
    span{
        height: 40px;
    }
    
    .content {
        align-items: center;
        text-align: left;
        padding-bottom: 90px;
        .question {
            text-align: left;
            margin-top: 30px;
            text-transform: capitalize;
            cursor: pointer;
            .text {
                font-family: roboto;
                font-size: 30px;
                display: flex;
                text-align: left;
            }
        }
        .answer {
            cursor: pointer;
            opacity: 0%;
            height: 0px;
            text-align: left;
            transition: all ease 0.4s;
            p{
                
                height: 0px;
            }
            
        }
        .isDown {
            cursor: pointer;
            font-size: 24px;
            height: fit-content;
            font-weight: 300;
            justify-content: left;
            text-align: left;
            align-items: center;
            transition: all ease 0.4s;
            margin-left: 55px;
            border-bottom: 0.5px solid $darkBlue;
           
          
        }
    }
}
@media screen and (max-width:768px) {
    .faqComponent{
        .content{
            .question{
                .text{
                    font-size: 25px;
                }
            }
        }
    }
}