@import "variables.module.scss";



.footer {
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    background-image: url(../public/bruno/map.jpg);
    background-position: -50px;
    background-size: 120vw 100vh;
    overflow-x: hidden;

    .formCarry {
        width: 40%;
        max-width: 600px;
        height: 600px;
        background-color: $ligthBlue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        right: 80px;
        margin: auto;
        z-index: 999;

        .parentHolder {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 100%;

            .parent {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                width: 100%;
                gap: 30px;

                .formcarry-block {
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    align-items: left;
                    justify-content: left;
                    border-bottom: 1px solid $darkBlue;

                    input,
                    textarea {
                        width: 100%;
                        border-radius: 5px;
                        border: none;
                        background-color: $ligthBlue;
                        color: $darkBlue
                    }

                    textarea {
                        height: 80px;
                        max-height: 120px;
                        min-height: 80px;
                    }

                    &.buttonSend {
                        position: relative;
                        border: none;
                        width: 100%;

                        button {
                            position: absolute;
                            right: 0;
                            border: none;
                            width: 60%;
                            height: 60px;
                            background-color: $darkBlue;
                            color: $ligthBlue;

                            &:hover {
                                background-color: #888785;
                                color: white;
                            }
                        }
                    }
                }

            }
        }
    }

    .footerContent {
        width: 100vw;
        height: 35vh;
        background-color: $darkBlue;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 99;
    }

    .info {
        width: 100%;
        height: 100%;

        .parentInfo {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .texts {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-align: start;
                gap: 30px;
                color: $ligthBlue;
                background-color: red;
                .text{
                    width: 300px;
                    text-align: start;
                }
            }

            .icons {
                display: flex;
                gap: 50px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 100%;
                color: $ligthBlue;
                background-color: red;
                // .icon{
                //     width: 40px;
                //     height: 40px;
                //     background-position: center;
                //     background-size: cover;
                //     &.wtsp{
                //         background-image: url(../public/bruno/wtsp.png);
                //     }
                //     &.ig{
                //         background-image: url(../public/bruno/ig.png);
                //     }
                //     &.maps{
                //         background-image: url(../public/bruno/googlemaps.png);
                //     }
                // }
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .footer {
        .footerContainer {
            .desktopContent {
                display: none;
            }

            .mobileContent {
                display: flex;
            }
        }
    }
}