@import "variables.module.scss";



.footer {
    width: 100%;
    position: relative;
    background-image: url(../public/bruno/castella.png);
    background-position: -50px;
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: 120vw 100vh;
    overflow-x: hidden;
    height: 100vh;
    @media screen and (max-width: 770px) {
        height: auto !important;
        .formContainer{
            margin: auto !important;
            height: 100% !important;
            width: 100% !important;
            align-items: center !important;
            justify-content: center !important;
            .formCarry{
                height: 100%;
                width: 100%;
                max-width: 100% !important;
            }

        }
        .parentInfo{
            padding-top: 30px;
        }
    }


    .formContainer {
        width: 100%;
        height: 70%;
        z-index: 999;
        display: flex;
        align-items: end;
        justify-content: end;
        padding-top: 40px;
        .formCarry {
            width: 50%;
            max-width: 600px;
            height: 600px;
            background-color: $ligthBlue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            z-index: 99;
            position: relative;
            margin-right:0 ;
            @media screen and (max-width: 770px) {
                position: relative;
                width: 100%;
               

                .parent {
                    gap: 10px;
                }

                button {
                    position: relative;
                }
            }

            .parentHolder {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                width: 100%;

                .parent {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    width: 100%;
                    gap: 30px;

                    .formcarry-block {
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        align-items: left;
                        justify-content: left;
                        border-bottom: 1px solid $darkBlue;

                        &.lang {
                            border: none;

                            .lenguages {
                                width: 100%;
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                display: flex;
                                justify-content: space-around;
                                margin: auto;

                                .holder {
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;
                                    width: auto;

                                    .selector {
                                        width: 30px;
                                        height: 30px;
                                        border: 1px $darkBlue solid;
                                        border-radius: 5px;

                                        &.active {
                                            background-color: $darkBlue;
                                        }
                                    }
                                }
                            }
                        }

                        input,
                        textarea {
                            width: 100%;
                            border-radius: 5px;
                            border: none;
                            background-color: $ligthBlue;
                            color: $darkBlue;
                            padding-left: 20px;

                            &:focus {
                                border: none;
                                outline-style: none;
                            }

                            &:-internal-autofill-selected {
                                appearance: none;
                                background-image: none !important;
                                background-color: transparent !important;
                                color: fieldtext !important;
                            }
                        }

                        textarea {
                            height: 80px;
                            max-height: 120px;
                            min-height: 80px;
                        }

                        &.buttonSend {
                            position: relative;
                            border: none;
                            width: 100%;

                            button {
                                position: absolute;
                                right: 0;
                                border: none;
                                width: 60%;
                                height: 60px;
                                background-color: $darkBlue;
                                color: $ligthBlue;

                                &:hover {
                                    background-color: #888785;
                                    color: white;
                                }
                            }
                        }
                    }

                }
            }
        }

    }
    
    .footerContent {
        width: 100%;
        // height: auto;
        min-height: 40vh;
        background-color: $darkBlue;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 9;
        display: flex;
        align-items: center;
        @media screen and (max-width: 770px) {
            position: relative;
            width: 100%;
            height: fit-content;
            padding-top: 30px;
            height: fit-content !important;
            .texts{
                margin: 0 !important;
                font-size: 14px !important;
                line-height: 24px !important;
            }
            .icons{
                padding: 0 !important;
                padding-bottom: 10px !important;
                .rights{
                    height: auto;
                    padding: 0 !important;
                    width: 100%;
                    font-size: 15px !important;
                    text-align: center;
                }
            }
        }

    }

    .info {
        width: 100%;
        height: 100%;
        z-index: 3;

        .parentInfo {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;

            .texts {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-align: start;
                gap: 30px;
                color: $ligthBlue;
                background-color: transparent;
                margin-left: 30px;
                padding: 0 30px;
                font-size: 16px;
                line-height: 24px;

                .text {
                    width: 300px;
                    text-align: start;
                }
            }

            .icons {
                display: flex;
                gap: 50px;
                flex-direction: row;
                justify-content: end;
                align-items: end;
                height: 100%;
                color: $ligthBlue;
                background-color: $darkBlue;
                padding: 0 30px;

                .rights {
                    // position: absolute;
                    // bottom: 20px;
                    // right: 40px;
                    color: $ligthBlue;
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 500;
                    padding-right: 100px;
                    padding-bottom: 20px;
                }

                @media screen and (max-width: 770px) {
                    height: 60px;
                    width: 600px;
                }

                .icon {

                    // width: 40px;
                    // height: 40px;
                    // background-position: center;
                    // background-size: cover;

                    // &.wtsp {
                    //     background-image: url(../public/bruno/whatsappIcon.png);
                    // }

                    // &.ig {
                    //     background-image: url(../public/bruno/instagram.png);
                    // }

                    // &.maps {
                    //     background-image: url(../public/bruno/mapsIcon.png);
                    // }
                    // &.mail {
                    //     background-image: url(../public/bruno/emailIcon.png);
                    // }
                }
            }

            @media screen and (max-width: 770px) {
                flex-direction: row;
                justify-content: center;

                .texts {
                    text-align: center;

                    .text {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.sign {
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 40px;
    display: flex;
    align-items: start;
    justify-content: start;
    height: auto;
    cursor: pointer;
    .text {
        text-align: left;

    }

    .icon {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        border-radius: 50%;

        &.wtsp {
            background-image: url(../public/bruno/whatsappIcon.png);
            background-position: center;
            background-size: cover;
        }

        &.ig {
            background-image: url(../public/bruno/instagram.png);
            background-position: center;
            background-size: cover;
        }

        &.location {
            background-image: url(../public/bruno/mapsIcon.png);
            background-position: center;
            background-size: cover;
        }

        &.mail {
            background-image: url(../public/bruno/emailIcon.png);
            background-position: center;
            background-size: cover;
        }
    }
}