@import "variables.module.scss";

.formComponent {
  background-color: $ligthBlue;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}

.content {
  display: flex;
  background-color: $ligthBlue;

  align-items: center;
  justify-content: center;
  .picWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: min-content;
    align-items: center;
    justify-content: center;
    .picText {
      color: $beige;
      font-family: caslon;
      p {
        font-size: 16px;
      }
      .picTittle {
        font-size: 58px;
        font-weight: 400;
      }
    }
  }
  .picContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    height: 25vw;
    .kiwi {
      background-image: url(../public/images/kiwi.jpg);
      top: 0px;
      left: 0px;
      z-index: 100;
    }
    .mango {
      background-image: url(../public/images/mango.jpg);
      bottom: 0px;
      right: 0px;
    }
    .kiwi,
    .mango {
      transition: all 0.3s ease;
      box-shadow: 0px 0px 10px grey;
      position: absolute;
      width: 55%;
      height: auto;
      aspect-ratio: 1/1;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
    }
    .blured {
      transition: all 0.3s ease;
      box-shadow: 0px 0px 10px grey;
      position: absolute;
      width: 55%;
      height: auto;
      aspect-ratio: 1/1;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
      filter: grayscale(1) brightness(0.5);
      &:hover{
        filter: brightness(1) grayscale(0);
      }
    }
  }
  .form {
    background: $beige;
    width: 80%;
    justify-content: center;
    margin: auto;
    border-radius: 8px;
    color: $darkBlue;
    .space-top-20 {
      margin-top: 20px;
    }
    .space-top-52 {
      margin-top: 52px;
    }
    .space-bot-52 {
      margin-bottom: 52px;
    }
    .padding-top-20 {
      padding-top: 20px;
    }
    .padding-top-52 {
      padding-top: 52px;
    }
    .padding-bot-52 {
      padding-bottom: 52px;
    }
    .form-content {
      width: 80%;
      display: flex;
      font-family: roboto;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }

    .inputCounter {
      justify-content: space-between;
      padding: 0px 20px;
    }
    .radioButtons {
      justify-content: flex-start;
      padding: 0px 20px;
      .checked {
        margin-right: 30%;
        .checker{
          display: none;
        }
      }
    }
    .timeInput {
      justify-content: flex-start;
      padding: 0px 20px;
      span {
        margin-right: 3px;
      }
    }

    .formInput {
      width: 100%;
      background-color: #fff;
      height: 56px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      text-align: center;
      .counter {
        div {
          display: flex;
          text-align: center;
          align-items: center;
          p {
            margin: 0px 10px;
          }
        }
      }
      .persons {
        font-size: 38px;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .clock {
        display: flex;
        text-align: center;
        align-items: center;
        p {
          margin: 0%;
        }
      }
    }
    .formPayment {
      height: 100px;
      background-color: transparent;
      background-image: url(../public/images/payments.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .formCheck {
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      font-family: roboto;
    }
    p {
      margin: 0%;
    }
  }
  .formText {
    text-align: center;
    justify-content: center;
    font-family: roboto;
    text-transform: uppercase;
    .formPic {
      width: 60px;
      height: auto;
      aspect-ratio: 1/1;
      margin-bottom: 30px;
    }
    .formTittle {
      font-size: 30px;
      font-weight: 700;
    }
    .formParagraph {
      font-weight: 700;
      font-size: 40px;
    }
  }
  .reserva {
    font-family: DMSans;
    font-weight: 700;
    background-color: $orange;
    border-radius: 8px;
    padding: 10px 30px;
    width: 150px;
    height: auto;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    color: $beige;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
    margin-bottom: 52px;
    font-size: 18px;
  }
}

// mediaQueries
@media screen and (min-width: 2560px) {
  .content {
    .picContainer {
      height: 20vw;
    }
  }
}
@media screen and (max-width: 1440px) {
  .content {
    .picContainer {
      height: 30vw;
    }
  }
}
@media screen and (max-width: 1200px) {
  .content {
    .picContainer {
      height: 40vw;
    }
  }
}
@media screen and (max-width: 992px) {
  .content {
    .picContainer {
      height: 30vw;
    }
  }
}
@media screen and (max-width: 768px) {
  .content {
    .picContainer {
      height: 35vw;
    }
  }
}

@media screen and (max-width: 767px) {
  .content {
    .picContainer {
      height: 50vw;
    }
  }
}

@media screen and (max-width: 425px) {
  .content {
    .picContainer {
      height: 70vw;
    }
  }
}
@media screen and (max-width: 540px) and (min-width: 540px) {
  .content {
    .picContainer {
      height: 70vw;
    }
  }
}

@media screen and (max-width: 1200px) {
  .content {
    .form {
      width: 110%;
    }
  }
}
@media screen and (max-width: 768px) {
  .content {
    .form {
      width: 80%;
      .formInput {
        padding: 0px 10px;
      }
    }
    .picWrapper {
      .picTittle {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }
}
