@import "variables.module.scss";

.formComponent {
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  .gliderContainer {
    display: none;
    .image {
      border-radius: 8px;
      height: 300px;
    }
  }
  .form {
    background: $beige;
    width: 54%;
    justify-content: center;
    margin: auto;
    border-radius: 8px;
    color: $darkBlue;
    .space-top-20 {
      margin-top: 20px;
    }
    .space-top-40 {
      margin-top: 40px;
    }
    .space-bot-52 {
      margin-bottom: 52px;
    }
    .padding-top-20 {
      padding-top: 20px;
    }
    .padding-top-52 {
      padding-top: 52px;
    }
    .padding-bot-52 {
      padding-bottom: 52px;
    }
    .form-content {
      width: 80%;
      display: flex;
      font-family: roboto;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }

    .inputCounter {
      justify-content: space-between;
      padding: 0px 20px;
    }
    .radioButtons {
      justify-content: flex-start;
      padding: 0px 20px;
      .checked {
        margin-right: 30%;
      }
    }
    .timeInputer {
      border: none;
      width: 100%;
      &::placeholder {
        font-family: roboto;
        font-size: 15px;
        color: $darkBlue;
      }
    }
    .timeInput {
      justify-content: flex-start;
      padding: 0px 20px;
      span {
        margin-right: 3px;
      }
    }

    .formInput {
      width: 100%;
      background-color: #fff;
      height: 56px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      text-align: center;
      // .checker {
      //   display: none;
      // }
      .checked,
      .unchecked {
        display: flex;
        .label {
          display: flex;
          align-items: center;
          p {
            margin: 0%;
          }
        }
      }
      .counter {
        div {
          display: flex;
          text-align: center;
          align-items: center;
          p {
            margin: 0px 10px;
          }
        }
      }
      .persons {
        text-align: center;
        justify-content: center;
        align-items: center;
        .person {
          font-size: 38px;
          letter-spacing: -15px;
          transition: all 0.2s ease;
          opacity: 0.5;
          filter: grayscale(1);
          &.active {
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }
      .clock {
        display: flex;
        text-align: center;
        align-items: center;
        p {
          margin: 0%;
        }
      }
    }
    .formPayment {
      height: 90px;
      background-color: transparent;
      background-image: url(../public/images/payments.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 16px;
    }
    .contactContainer {
      display: flex;
      .contactInput {
        cursor: pointer;
        width: 100%;
        border: none;
        color: $darkBlue;
        &:focus{
          border: none;
        }
        &::placeholder {
          color: $darkBlue;
        }
      }
    }
  }
  .formCheck {
    display: flex;
    width: 100%;
    font-size: 15px;
    text-align: left;
    margin-top: 15px;
    span {
      display: inline-block;
      font-family: roboto;
    }
    p {
      font-size: 15px;
      margin: 0%;
    }
  }
  .formText {
    text-align: center;
    justify-content: center;
    font-family: roboto;
    text-transform: uppercase;
    width: 100%;
    .formPic {
      color: $darkBlue;
      width: 60px;
      height: auto;
      aspect-ratio: 1/1;
      margin-bottom: 35px;
    }
    .formTittle {
      font-size: 23px;
      font-weight: 700;
    }
    .formParagraph {
      font-weight: 700;
      font-size: 30px;
    }
  }
  .reserva {
    font-family: DMSans;
    font-weight: 700;
    background-color: $orange;
    border-radius: 8px;
    padding: 15px 40px;
    width: 160px;
    height: auto;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    color: $beige;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

// mediaQueries

@media screen and (max-width: 375px) {
  .formInput {
    .persons {
      .person {
        font-size: 33px;
      }
    }
  }
}

@media screen and (max-width: 1280px) and (min-width: 1280px) {
  .content {
    .picContainer {
      width: 90%;
      height: 30vw;
    }
  }
}
@media screen and(max-width:1200px) {
  .content {
    .picContainer {
      width: 100%;
      height: 35vw;
    }
  }
}

@media screen and (max-width: 1024px) {
  .content {
    .picContainer {
      width: 100%;
      height: 40vw;
    }
  }
}
@media screen and (max-width: 992px) {
  .content {
    .picContainer {
      width: 100%;
      height: 30vw;
      .kiwi,
      .mango.blured {
        width: 220px;
      }
    }
  }
}
@media screen and (max-width: 820px) and (min-width: 820px) {
  .content {
    .picContainer {
      width: 100%;
      height: 35vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    .form {
      width: 100%;
      .formInput {
        padding: 0px 10px;
      }
    }
    .picWrapper {
      .picTittle {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
    .gliderContainer {
      display: unset;
    }
    .picContainer {
      display: none;
    }
  }
}
@media screen and (max-width: 350px) {
  .form {
    .timeInputer {
      &::placeholder {
        font-size: 10px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .content {
    .form {
      width: 100%;
    }
  }
}
