@import "variables.module.scss";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.sliderContainer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  .sliderList {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    list-style: none;
    padding: 0%;
    margin: 0%;
  }
}

.gallery {
  background-color: #cae6f2;
  padding: 0px 0px 200px 0px;
  overflow: hidden;
  .sliderImage {
    transition: all ease 0.4s;

    width: 100%;
  }
  .galleryContainer {
    position: relative;
    background-color: #f8fafa;
    //padding: 15px;
  }
}

.image {
  filter: grayscale(0.8);
  transition: all 0.2s ease;
  &:hover {
    filter: grayscale(0);
  }
}
.sliderContainer {
  display: none;
  .sliderImage {
    height: 225px;
    width: 50%;
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 768px) {
  .galleryContainerMobile {
    display: block;
    position: relative;
  }
  .galleryContainer {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .galleryContainerMobile {
    display: none;
  }
  .galleryContainer {
    display: block;
  }
}
