html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.injectionDiv>svg:nth-child(1) {
  width: 100%;
}

#blocklyPanel-practice .blocklyFlyout .blocklyFlyoutBackground+.blocklyWorkspace {
  transform: translateY(6px);
}

@keyframes boundUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.animated {
  animation: boundUp 0.3s ease forwards;
}

.controls {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.glide__track {
  padding-top: 36px;
  padding-bottom: 36px;
}


/* .glide__slides {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
  transition: all 0.4s ease;
} */

.glide__slide {
  transition: all 0.4s ease;
  border-radius: 8px;
}



.my-masonry-grid {

  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  display: flex;
}


#options-type-2 .glide__slide--active {
  transition: all 0.3s ease;
transform: translatey(-35px);
}
#options-type-2 .glide__slides{
  align-items: center;
  height: 500px;
}

#options-type-2 .controlButton {
  margin: 25px;
  transform: translateY(-70px);
}

#options-type-2 .glide__bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  align-items: center;
  border-radius: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 15px 10px;
  transform: translateY(-70px);
}



#options-type-2 .glide__bullet:hover {
  filter: brightness(0.9);
}

#options-type-2 .glide__bullet--active {
  width: 12px;
  height: 12px;
  background-color: #E8A93F;
  align-items: center;
  border-radius: 100%;
}

#options-type-2 .controls {
  font-size: 10px;


}

#options-type-2 .glide__track {
  margin-top: -140px;
}


#mobileMango-slider .controls,
#mobileKiwi-slider .controls {
  display: flex;
  transform: translateY(-55px);
}

#mobileMango-slider .glide__track {
  height: 450px;
  border-radius: 211px 0px 211px 211px;
  padding: 0%;
}

#mobileKiwi-slider .glide__track {
  height: 450px;
  padding: 0%;
  border-radius: 0px 211px 211px 211px;
}

#mobileKiwi-slider .glide__slides,
#mobileMango-slider .glide__slides {
  padding: 0%;
}

#mango-slider .controls,
#kiwi-slider .controls {
  display: flex;
  transform: translateY(-60px);
}

#mango-slider .controls{
  transform: translateY(-100px);
}

#mango-slider .glide__track {
  height: 480px;
  border-radius: 211px 0px 211px 211px;
}

#kiwi-slider .glide__track {
  height: 480px;
  border-radius: 0px 211px 211px 211px;
}

#mango-slider .glide__track,
#kiwi-slider .glide__track {
  padding: 0%;
  padding-right: 15px;
}

#mango-slider .glide__bullet,
#kiwi-slider .glide__bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  align-items: center;
  border-radius: 100%;
  margin: 15px 10px;
  border: none;
  cursor: pointer;
}

#mango-slider .glide__bullet--active,
#kiwi-slider .glide__bullet--active {
  width: 10px;
  height: 10px;
  background-color: #86BED5;
  align-items: center;
  border-radius: 100%;
  margin: 15px 10px;
}

#mango-slider .glide__slides,
#kiwi-slider .glide__slides {
  padding: 0% !important;
  object-fit: contain !important;
}

#mango-slider .glide__arrows,
#kiwi-slider .glide__arrows {
  cursor: pointer;
}

#mango-slider.glide.glide--ltr.glide--slider.glide--swipeable,
#kiwi-slider.glide.glide--ltr.glide--slider.glide--swipeable {
  padding-top: 30px;
}


#mango-slider .controlButton .icon-chevron_left,
#mango-slider .controlButton .icon-chevron_right,
#kiwi-slider .controlButton .icon-chevron_left,
#kiwi-slider .controlButton .icon-chevron_right,
#options-type-2 .controlButton .icon-chevron_left,
#options-type-2 .controlButton .icon-chevron_right {
  color: #fff;
  cursor: pointer;
}

#mobileMango-slider .controlButton .icon-chevron_left,
#mobileMango-slider .controlButton .icon-chevron_right,
#mobileKiwi-slider .controlButton .icon-chevron_left,
#mobileKiwi-slider .controlButton .icon-chevron_right {
  color: #fff;
  cursor: pointer;
}










#gallery-image-mobile .icon-chevron_right {
  height: 43px;
}





@media screen and (max-width:992px) {

  #mango-slider .glide__bullet,
  #mango-slider .glide__bullet--active,
  #kiwi-slider .glide__bullet,
  #kiwi-slider .glide__bullet--active {
    display: none;
  }
}

#kiwi-slider .glide__bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  align-items: center;
  border-radius: 100%;
  margin: 15px 10px;
  border: none;
  cursor: pointer;
}

#kiwi-slider .glide__arrows {
  cursor: pointer;
}

#kiwi-slider .glide__track {
  padding: 0%;
}

#kiwi-slider .glide__bullet--active {
  width: 10px;
  height: 10px;
  background-color: #86BED5;
  align-items: center;
  border-radius: 100%;
  margin: 15px 10px;
  border: none;
}

#bannerContainer .icon-barco {
  font-size: 35px;
}

.icon-chevron_left,
.icon-chevron_right {
  font-size: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.icon-un-check {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}

.icon-menos, .icon-mas {
  cursor: pointer;
}

.icon-chevron_right {
  transition: all ease 0.4s;
}

.rotatedArrow {
  transition: all ease 0.4s;
  transform: rotate(90deg);
}




@media screen and (max-width: 768px) {
  #options-type-2 .glide__slide--active {
    transform: translate(0px);
  }

  #options-type-2 .controls {
    font-size: 10px;
    transform: translateY(0px);
  }
}

@media screen and (max-width:768px) {
  .icon-instagram {
    margin-left: 0%;
  }
}

#options-type-2.glide .controls {
  display: flex;
  align-items: center;
}



#options-type-2.glide .controls .glide__bullet:hover {
  transform: scale(1.2);
}


#gallery-image-mobile .glide__bullet {
  width: 10px;
  height: 10px;
  background-color: #86BED5CC;
  align-items: center;
  border: none;
  border-radius: 100%;
  transition: all ease 0.2s;
  margin: 5px;
}

#gallery-image-mobile .glide__bullet:hover {
  width: 15px;
  height: 15px;
  filter: brightness(0.9);
  border-radius: 100%;
}

#gallery-image-mobile .glide__bullet--active {
  width: 15px;
  height: 15px;
  background-color: #307692;
}

#gallery-image-mobile .controls {
  display: flex;
  align-items: center;
}

#gallery-image-mobile .controlButton {
  background-color: transparent;
  border: none;
  width: 40px;
}