@import "variables.module.scss";

.Header {
  height: 60px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  color: $beige;
  background-color: transparent;
  position: fixed;
  justify-content: space-between;
  transition: all ease-in-out 0.3s;
  z-index: 111;
  &.active {
    background-color: $darkBlue;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .logoPic {
      width: 110px;
      height: auto;
      aspect-ratio: 1/1;
      order: 1;
      float: left;
      background-image: url(../public/images/logo_texto.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .logoText {
      order: 2;
      font-family: calson;
      font-weight: 300;
      font-size: 15px;
      justify-content: center;
      text-align: left;
      text-transform: capitalize;
      letter-spacing: 2px;
    }
  }

  a {
    color: $beige;
    text-decoration: none;
  }
  .linkBtn {
    width: 36px;
    height: 36px;
    background: $beige;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darkBlue;
    display: flex;
  }
  .header-desktop {
    text-align: center;
    align-items: center;
    .tootlTipText {
      color: #002848;
    }
    .links {
      text-transform: capitalize;
      font-size: 17px;
      width: 43%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      .headerLink {
        font-size: 18px;
        margin: 5px;
        transition: all ease 0.2s;
        &:hover {
          filter: brightness(0.9);
        }
      }
      .reserva {
        width: fit-content;
        padding: 5px 10px;
        text-align: center;
        background-color: #e8a93f;
        text-decoration: none;
        color: #f1e6d0;
        font-size: 12px;
        // box-shadow: 0px 0px 5px #e8a93f;
        font-family: roboto;
        font-weight: 700;
        font-family: dmsans;
        transition: all ease-in-out 0.2s;
        text-transform: uppercase;
        border-radius: 4px;
        &:hover {
          background-color: #e6a029;
          // box-shadow: 0px 0px 5px #e6a029;
        }
      }
    }

    .icons {
      width: 25%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      div {
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
          filter: brightness(0.8);
        }
        span {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .noDisplay {
      display: none;
      transition: all ease 0.4s;
    }
    .reserva {
      font-family: dmsans;
      font-weight: 400;
      background-color: $orange;
      line-height: 20px;
      width: fit-content;
      height: fit-content;
      font-size: 15px;
      padding: 5px 10px;
      color: $beige;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: all ease 0.4s;
      p {
        margin: 0%;
      }
    }
    .links {
      display: flex;
      .logoText {
        width: 52px;
        height: 33px;
      }
    }
    .icons {
      display: flex;
      justify-content: flex-end;
      .linkBtn {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        background: #f1e6d0;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #002848;
        font-size: 18px;

        span {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          font-size: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .header-desktop {
      display: none;
      cursor: pointer;
    }
    .Header {
      .header-mobile {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        .icons {
          width: 16px;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .header-desktop {
      display: flex;
      justify-content: space-between;
    }

    .header-mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .Header {
    .header-mobile {
      .logo {
        .logoPic {
          width: 97px;
          height: auto;
          aspect-ratio: 1/1;
          order: 1;
          float: left;
        }
        .logoText {
          order: 2;
          font-family: calson;
          font-weight: 400;
          font-size: 10px;
          justify-content: center;
          text-align: left;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .Header {
    .header-mobile {
      reserva {
        padding: 0px;
      }
    }
  }
}

@media screen and(max-width:992px) {
  .Header {
    .header-desktop {
      text-align: center;
      align-items: center;
      .links {
        text-transform: capitalize;
        font-size: 17px;
        width: 70%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
