@import "variables.module.scss";
@font-face {
  font-family: open-sans;
  src: url(../public/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: DMSans;
  font-weight: 400;
  src: url(../public/fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: DMSans;
  font-weight: 700;
  src: url(../public/fonts/DMSans-Bold.ttf);
}
.Header {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: $darkBlue;
  text-align: center;
  align-items: center;
  color: $beige;
  justify-content: space-between;

  a {
    color: $beige;
    text-decoration: none;
  }

  .header-desktop {
    text-align: center;
    align-items: center;
    .logo {
      margin: 0;
      font-family: 'open-sans';
      width: min-content;
      text-align: start;
      font-weight: 400;
    }
    .links {
      a {
        font-family: DMSans;
        font-weight: 400;
      }
      .reserva {
        font-family: DMSans;
        font-weight: 700;
        background-color: $orange;
        border-radius: 22px;
        padding: 10px 32px;
        color: $darkBlue;
        font-weight: bold;
        transition: all ease-in-out 0.2s;
        &:hover{
          color: $beige;
        }
      }
    }
    div {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      a {
        padding: 20px;
        display: inline-block;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .header-desktop {
      display: none;
    }

    .header-mobile {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 768px) {
    .header-desktop {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .header-mobile {
      display: none;
    }
  }
}
