@import "variables.module.scss";
@font-face {
  font-family: open-sans;
  src: url(../public/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: DMSans;
  font-weight: 400;
  src: url(../public/fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: DMSans;
  font-weight: 700;
  src: url(../public/fonts/DMSans-Bold.ttf);
}
.Header {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: $darkBlue;
  text-align: center;
  align-items: center;
  color: $beige;
  position: fixed;
  z-index: 10;
  justify-content: space-between;

  a {
    color: $beige;
    text-decoration: none;
  }

  .header-desktop {
    text-align: center;
    align-items: center;
    .logo {
      margin: 0;
      font-family: "open-sans";
      width: min-content;
      text-align: start;
      font-weight: 400;
    }
    .links {
      a {
        font-family: DMSans;
        font-weight: 400;
      }
      .reserva {
        font-family: DMSans;
        font-weight: 700;
        background-color: $orange;
        border-radius: 8px;
        padding: 10px 32px;
        color: $beige;
        font-weight: bold;
        transition: all ease-in-out 0.2s;
      }
    }
    div {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      a {
        padding: 20px;
        display: inline-block;
      }
    }
  }

  .icons {
    span {
      position: relative;
      color: $darkBlue;
      margin: 0px 20px;
      font-size: 24px;
      z-index: 100;
      cursor: pointer;
      padding: 5px;
      border-radius: 100%;
      background-color: $beige;
      background-size:contain;

    }
  }
  @media screen and (max-width: 769px) {
    .header-desktop {
      display: none;
      cursor: pointer;
    }

    .header-mobile {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 769px) {
    .header-desktop {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .header-mobile {
      display: none;
    }
  }
}
