.image {
    height: calc(40vh - 30px);
    transition: all ease 0.4s;
    object-fit: cover;
    object-position: bottom;
}


.glide__arrows {
    width: 60px;
    height: 60px;
  
}

.image{
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}
