@import "variables.module.scss";

.OverTheFold {
  position: relative;
  min-height: 700px;
  padding: 0%;
  box-sizing: border-box;
  height: 90vh;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
 
  .video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    background: #0057e3;
    object-position: top;
  }
  .mask {
  position: absolute;

    background: #009938;
    background-color: rgba($color: #000, $alpha: 0.6);
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    transition: all ease-in-out 0.2s;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: rgba($color: #000, $alpha: 0.2);
    }
  }
}
.rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  align-items: center;
  justify-content: center;

  z-index: 99;
}
.row {
  width: 100%;
}
.containerOver {
  height: 70vh;
  color: $beige;
  display: flex;
  min-height: 700px;
  justify-content: center;
  .textOver {
    align-items: center;
    max-width: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    height: 80vh;
    min-height: 700px;
  }
  .tittleOver {
    max-width: 1024px;
    font-size: 73px;
    font-family: caslon;
    font-weight: 100;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .paragraphOver {
    justify-content: center;
    h2 {
      font-family: calibri;
      font-weight: 400;
      font-size: 18px;
      max-width: 425px;
      word-break: keep-all;
      white-space: normal;
      word-spacing: 1px;
      margin-bottom: 20vh;
    }
  }
}

.arrowButton {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
  width: 1px;
  margin: auto;
margin-top: 0%;
  margin-bottom: 0%;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  transform: rotate(90deg);
  height: auto;
  aspect-ratio: 1/1;
  &:active {
    color: #fff;
  }
}
.buttonOver {
  width: fit-content;
  height: auto;
  padding: 15px 20px;
  text-align: center;
  background-color: $orange;
  text-decoration: none;
  color: $beige;
  font-size: 25px;
  border-radius: 8px;
  font-family: calibri;
  font-weight: 700;
  transition: all ease-in-out 0.2s;
  color: #fff;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    background-color: #e6a029;
  }
}

@media screen and (max-width: 768px) {
  .rowContainer {
    flex-direction: column;
  }
  .containerOver {
    padding-top: 50px;
    height: 50vh;
min-height: unset;
    .textOver {
      text-align: center;

      .tittleOver {
        text-align: center;

        margin-bottom: 10px;
        font-weight: 700;
        font-size: 50pt;
      }
      .paragraphOver {
        h2 {
          text-align: center;
        }
        font-size: 15pt;
        text-align: center;
        padding: 0px 15px;
      }
    }
  }
  .buttonOver {
    font-size: 20px;
    padding: 10px 15px;
    display: none;
  }
  .arrowButton {
    display: unset;
  }
}

@media screen and (min-width: 768px) {
  .formContainer {
    margin-top: 10vh;
  }
}
@media screen and (max-width: 768px) and (min-width: 768px) and (min-height: 1024px) and (min-height: 1024px) {
  .formContainer {
    margin-top: 8vh;
  }
}

@media screen and (max-width: 768px) {
  .containerOver {
    .textOver {
      margin-top: 2vh;
      
    }
  }
  .formContainer {
    margin-top: 8vh;
  }
}

@media screen and (max-height: 630px) and (max-width:768px) {
  .formContainer {
    margin-top: -45vh;
  }
  .containerOver{
    margin-bottom: 90vh;
  }
}

