@import "variables.module.scss";

.OverTheFold {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  height: 80vh;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  background-image: url(../public/images/background.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  .mask {
    background-color: rgba($color: #000, $alpha: 0.6);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out 0.2s;
    &:hover {
      background-color: rgba($color: #000, $alpha: 0.3);
    }
  }
}
.rowContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.containerOver {
  height: 70vh;
  color: $beige;
  display: flex;
  .textOver {
    cursor: default;
    max-width: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
  }
  .tittleOver {
    max-width: 1024px;
    font-size: 73px;
    font-family: caslon;
    font-weight: 400;
  }
  .paragraphOver {
    p {
      font-family: roboto;
      font-weight: 400;
      font-size: 18px;
      max-width: 1024px;
      word-break: keep-all;
      white-space: normal;
      text-align: justify;
      margin-bottom: 40px;
    }
  }
}

.buttonOver {
  width: 190px;
  height: auto;
  padding: 15px 20px;
  text-align: center;
  background-color: $orange;
  text-decoration: none;
  color: $beige;
  font-size: 25px;
  border-radius: 8px;
  font-family: roboto;
  font-weight: 700;
  transition: all ease-in-out 0.2s;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .containerOver {
    justify-content: flex-start;
    padding-top: 70px;
    .textOver {
      justify-content: flex-start;

      .tittleOver {
        font-family: roboto;
        margin-top: 60px;
        margin-bottom: 35px;
        font-weight: 700;
        font-size: 53px;
      }
      .paragraphOver {
        p {
          font-size: 15px;
        }
      }
    }
  }
  .buttonOver {
    font-size: 20px;
    padding: 10px 15px;
  }
}
