@import "variables.module.scss";

.OverTheFold {
  position: relative;
  min-height: 700px;
  padding: 0%;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  // background-image: url(../public/bruno/backgroundOver.jpg);
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(../public/bruno/backgroundOver.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  .video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    background: #0057e3;
    object-position: top;
  }

  .mask {
    position: absolute;
    background: #009938;
    background-color: rgba($color: #000, $alpha: 0);
    // background-color: rgba($color: #000, $alpha: 0.6);
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    transition: all ease-in-out 0.2s;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: flex;
    }

    &:hover {
      //  background-color: rgba($color: #000, $alpha: 0.2);
    }
  }
}

.rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $ligthBlue;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
  
  .city {
    font-weight: 400;
    font-size: 20px;
    font-family: calibri;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .company {

    .tittleOver {
      font-weight: bold;
      font-size: 120px;
      font-family: calibri;
      line-height: 122px;
      margin-bottom: 20px;

      &.stroked {
        -webkit-text-stroke: 2px $ligthBlue;
        color: transparent;
      }
    }
  }

  .description {
    font-weight: 400;
    font-size: 40px;
    font-family: calibri;
    line-height: 42px;
    margin-bottom: 70px;
    max-width: 700px;
  }
}

.parentConteiner {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;

  .containerButton {
    width: 200px;
    height: 50px;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    .buttonHeader {
      color: $ligthBlue;
      font-size: 20px;
      line-height: 22px;
    }
  }
  &.serviceButton{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease;
    &.active{
      opacity: 1;
    }
  }
}




@media screen and (max-width: 768px) {
  .rowContainer {
    flex-direction: column;
  }

}