.RiveAnimation {
  width: 25vw;
  height: 25vw;
  position: absolute;
  margin: auto;
  @media screen and (max-width: 768px) {
    width: 50vw;
    height: 50vw;
  }
}

@keyframes rotationAnim {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotationAnimation {
  animation: rotationAnim 100s ease infinite;
  height: 100%;
}

.sailing {
  width: 100%;
  height: 100%;
}

.sailingAnimation {
  // transform: rotate(-33deg);
  width: 100%;
  height: calc(100% - 400px)
}
