@import "variables.module.scss";

.servicios {
  background: transparent;
  height: 100vh;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;

  @media screen and (max-width:1200px) {
    flex-direction: column;
    height: calc(300vh - 180px);

    .parent {
      width: 100%;
      height: calc(100vh - 60px);
    }
  }
}

.parent {
  cursor: pointer;
  height: calc(100vh - 60px);
  width: 33.33333333%;
  height: 100%;
  position: relative;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  &:hover {
    .servicio {
      filter: brightness(.80);
      transition: all 0.2s ease;
    }
  }
  
  .servicio {
    padding: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.5);
    transition: all 0.2s ease;
    position: absolute;
    top: 0;
    &.boat {
      background-image: url(../public/bruno/barco.jpg);
    }

    &.food {
      background-image: url(../public/bruno/amigos.jpg);
    }

    &.friends {
      background-image: url(../public/bruno/fiesta.jpg);
    }
  }

  .title {
    height: auto;
    width: 100%;

    color: $ligthBlue;
    font-size: 23px;
    font-weight: bold;
    text-align: center;

    &.icon {
      transition: all 1s ease;
      width: 75px;
      height: 75px;
      background-position: center;
      background-size: cover;

      &.calendar {
        background-image: url(../public/bruno/calendarIcon.png);
      }

      &.foodIcon {
        background-image: url(../public/bruno/foodIcon.png);
      }

      &.people {
        background-image: url(../public/bruno/peopleIcon.png);
      }
    }

    &.titleService {
      transition: all 1s ease;
      vertical-align: center;
      line-height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }

    &.text {
      transition: all 1s ease;      top: 0px;
      // bottom: 0px;
      // height: 40px;
      // right: 0;
      // left: 0;
      // pointer-events: hover;

      opacity: 0;
      height: 0;
      font-size: 2px;
      font-weight: 400;
      padding: 0px 30px;
    }

    &.vermas {
      transition: all 1s ease;
      // top: 300px;
      width: 40px;
      height: 40px;
      // right: 0;
      // left: 0;
      background-image: url(../public/bruno/Capa_1.png);
      background-position: center;
      background-size: cover;

      &:hover {
        cursor: pointer;
      }
    }

  }

  &.active {
   
    .servicio{
      filter: brightness(.5);
      transition: all 0.2s ease;
      position: absolute;
      top: 0;

    }

    .titleService {

      position: relative;

    }

    .icon {
      // bottom: 500px;
      position: relative;
    }

    .text {
      opacity: 1;
      position: relative;
      height: 150px;
      font-size: 20px;
      &.middle{
        height: 220px;
      }
    }

    .vermas {
      // top: 600px;
      position: relative;
      background-image: url(../public/bruno/menos.png);
      // cambiar por un menos
      // background-image: url(../public/bruno/Capa_1.png);

    }

  }
}