@import "variables.module.scss";

.serviceContainer{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}


.tittle{
    font-family: 'roboto';
    font-weight:700 ;
    font-size: 30px;
    color: $darkBlue;
}
.text{
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 400;
    color: $darkBlue;
}

