@import "variables.module.scss";

.serviceContainer{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}


.tittle{
    font-family: 'roboto';
    font-weight:700 ;
    font-size: 30px;
    color: $darkBlue;
}
.paragraph{
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 400;
    color: $darkBlue;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-image: url(../public/images/service1.jpg);
}
@media screen and (max-width:768px) {
    .serviceContainer{
        flex-direction: column;
    }
    .image{
        height: 200px;
    }
}