@import "variables.module.scss";

.serviceContainer{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-direction-reverse{
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.p{
    
    margin: 0%;
}

.tittle{
    font-family: 'roboto';
    font-weight:700 ;
    line-height: 28px;
    font-size: 30px;
    color: $darkBlue;
    padding-top: 10px;
}
.paragraph{
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 400;
    color: $darkBlue;
}

.service1,.service2,.service3{
    width: 100%;
    height: 470px;
    border-radius: 8px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.service1{
    background-image: url(../public/images/service1.png);
}
.service2{
    background-image: url(../public/images/service2.png);
}
.service3{
    background-image: url(../public/images/service3.png);
}
@media screen and (max-width:768px) {
    .serviceContainer,.flex-direction-reverse{
        text-align: center;
        flex-direction: column-reverse;
    }
    .service1,.service2,.service3{
        height: 200px;
    }
}