@import "variables.module.scss";
.slide {
    background-color: $beige;
}
.slideContainer {
    display: flex;
    flex-direction: column;
    background-color: $beige;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 100%;
    height: 250px;
    
    p {
        margin: 0%;
    }
    .textContainer {
        width: 100%;
        height: 70%;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        border-radius: 8px 8px 0px 0px;
        font-family: roboto;
        font-style: italic;
        font-size: 18px;
        padding: 10px;
        p {
            text-align: left;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    }
    .personContainer {
        background-color: #f8f8f8;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 0px 0px 8px 8px;
        padding: 10px;
        .pic {
            background-image: url(../public/images/person1.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 55px;
            width: auto;
            aspect-ratio: 1/1;
            border-radius: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        .name {
            p {
                align-items: center;
                text-align: start;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .textContainer {
        p {
            font-size: 15px;
        }
    }
    .personContainer {
        p {
            font-size: 10px;
        }
    }
}
@media screen and (max-width: 768px) {
    .textContainer {
        p {
            font-size: 10px;
        }
    }
    .personContainer {
        p {
            font-size: 10px;
        }
    }
}
