@import "variables.module.scss";

.slideContainer {
    height: 350px;
    border-radius: 16px;
    box-shadow: 0px 0px 1px #000;
    transition: all ease 0.4s;
    margin: 20px;

    .textContainer {
        background-color: #fff;
        word-wrap: break-word;
        white-space: pre-line;
        display: flex;
        height: 60%;
        justify-content: center;
        align-items: center;
        word-break: keep-all;
        padding: 50px;
        font-size: 18px;
        font-weight: 400;
        font-family: calibri;
        font-style: italic;
        line-height: 23px;
        word-spacing: 5px;
        border-radius: 16px 16px 0px 0px;

        p {
            color: $darkBlue;
            font-weight: 600;
            user-select: none;
            text-align: left;
            align-items: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
    .personContainer {
        display: flex;
        background-color: #f8f8f8;
        align-items: center;
        text-align: left;
        height: 40%;
        align-items: center;
        text-align: left;
        justify-content: left;
        border-radius: 0px 0px 16px 16px;
        p {
            margin-bottom: 0%;
            user-select: none;
        }
        .pic {
            height: 50%;
            width: auto;
            margin: 15px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            background-position: center;
            background-size: cover;
            background-image: url(../public/images/person1.jpg);
        }
        .name {
            font-size: 29px;
            font-weight: 700;
            color: $darkBlue;
        }
        .ocupation {
            font-size: 17px;
            color: $darkBlue;
            font-weight: 500;
        }
    }
}
@media screen and (max-width: 992px) {
    .slideContainer {
        .textContainer {
            background-color: #fff;
            word-wrap: break-word;
            white-space: pre-line;
            display: flex;
            height: 60%;
            justify-content: center;
            align-items: center;
            word-break: keep-all;
            padding: 30px;
            font-size: 16px;
            font-weight: 400;
            font-family: calibri;
            font-style: italic;
            line-height: 23px;
            word-spacing: 5px;
            border-radius: 16px 16px 0px 0px;
        }

        .personContainer {
            .name {
                font-size: 20px;
            }
            .ocupation {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .slideContainer {
        .textContainer {
            background-color: #fff;
            word-wrap: break-word;
            white-space: pre-line;
            display: flex;
            height: 60%;
            justify-content: center;
            align-items: center;
            word-break: keep-all;
            padding: 33px 20px;
            font-size: 15px;
            font-weight: 400;
            font-family: calibri;
            font-style: italic;
            line-height: 22px;
            word-spacing: 5px;
            border-radius: 16px 16px 0px 0px;
        }
        .personContainer {
            .name {
                font-size: 20px;
            }
            .ocupation {
                font-size: 15px;
            }
        }
    }
}

@media screen and(max-width:375px) {
    .slideContainer {
        .personContainer {
            .name {
                font-size: 13px;
            }
            .ocupation {
                font-size: 12px;
            }
        }
    }
}
