.exterior {
    padding-bottom: 20px;
    padding-right: 25px;
}
.tittleContainer {
    text-transform: capitalize;
    width: fit-content;
    height: fit-content;
    display: flex;
    position: relative;
    color: #002848;
    justify-content: right;
    background-color: transparent;
    border-bottom: 3px solid #002848;
    font-size: 68px;
    font-family: calson;
    font-weight: 600;
    p {
        margin: 0%;
    }
}

@media screen and (max-width: 992px) {
    .exterior {
        padding: 0%;
    }
    .tittleContainer {
        text-align: end;
        align-items: center;
        font-weight: bold;
       min-width: 40%;
        width: fit-content;
        font-size: 25pt;
        font-weight: 600;
        position: relative;
    }
}
