.exterior {
    padding-top: 70px;
    padding-bottom: 20px;
}
.tittleContainer {
    text-transform: capitalize;
    min-width: 40%;
    width: 100%;
    height: fit-content;
    display: flex;
    position: relative;
    color: #002848;
    line-height: 63px;
    background-color: transparent;
    font-size: 68px;
    font-family: calson;
    font-weight: 600;
    z-index: 10;
    text-align: left;
    p {
        margin: 0%;
    }
}

@media screen and (max-width: 992px) {
    .exterior {
        justify-content: center;
        padding: 0%;
    }
    .tittleContainer {
        font-weight: bold;
        min-width: 40%;
        width: fit-content;
        font-size: 35pt;
        font-weight: 600;
        position: relative;
    }
}
@media screen and (max-width: 768px) {
    .exterior {
        padding: 0%;
    }
    .tittleContainer {
        font-size: 40pt;
        text-align: center;
        align-items: center;
        font-weight: bold;
        min-width: 30%;
        width: fit-content;
        font-weight: 600;
        position: relative;
    }
}

@media screen and (max-height: 630px) {
    .exterior {
        padding: 0%;
    }
    .tittleContainer {
        font-size: 35pt;
        text-align: center;
        align-items: center;
        font-weight: bold;
        min-width: 30%;
        width: fit-content;
        font-weight: 600;
        position: relative;
    }
}
