@import "variables.module.scss";




.rowContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .tittleContainer {
        padding-bottom: 20px;
        // padding-right: 25px;
        text-transform: capitalize;
        min-width: 40%;
        height: fit-content;
        display: flex;
        position: relative;
        color: $ligthBlue;
        line-height: 63px;
        background-color: transparent;
        font-size: 68px;
        font-family: calibri;
        font-weight: 600;
        z-index: 10;
        text-align: center;

        p {
            margin: 0%;
        }
    }
}



@media screen and (max-width: 768px) {
    .tittleContainer {
        text-align: center;
        justify-content: center;
    }
}