$darkBlue: #133332;
$ligthBlue: #f2ece9;
$boatsBackground: #f2ece9;
$darkishBlue:#529AB7;
$orange: #197475;

$beige: #f2ece9;
$brown: #e6ab7b;
$brownDarkish: #c48b5c;
$brownDark: rgb(192, 132, 83);


// $darkBlue: #133332;
// $ligthBlue: #f0f0f0;
// $darkishBlue:#529AB7;
// $orange: #f0c479;
// $beige: #f1e6d0;
// $brown: #e6ab7b;
// $brownDarkish: #c48b5c;
// $brownDark: rgb(192, 132, 83);
// $boatsBackground: #5e7a7a;