$darkBlue: #002848;
$ligthBlue: #6c99af;
$orange: #e8a93f;
$red: #ca2e30;
$beige: #f1e6d0;

@font-face {
    font-family: "roboto";
    font-weight: 400;
    src: url("/fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "roboto";
    src: url("/fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "dmsans";
    src: url("/fonts/DMSans-Regular.ttf?ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "dmsans";
    src: url("/fonts/DMSans-Medium.ttf?ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "opensans";
    src: url("/fonts/openSans-regular.ttf?ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "caslon";
    src: url("/fonts/adobeCaslonProRegunlar.ttf?ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
