@import "variables.module.scss";
.voucherContainer {
  text-align: center;
  justify-content: center;
  align-items: center;

  .content {
    margin-top: 7vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    .bannerContainer {
      background-color: #28b171;
      padding: 35px 0px;
      border-radius: 8px 8px 0px 0px;
      width: 100%;
      color: $beige;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      .titleContainer {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: roboto;
        p {
          margin: 0%;
        }
      }
      .bannerTextContainer {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 23px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: roboto;
        p{
          margin: 0%;
        }
      }
    }
    .purchaseData {
      background-color: $beige;
      width: 100%;

      .dataContent {
        width: 100%;

        .data {
          color: $darkBlue;
          opacity: 90%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .left {
            text-align: left;
          }
        }
      }
    }
    .buttonRow {
      background-color: $beige;
      border-radius: 0px 0px 8px 8px;
      button {
        font-size: 16px;
        text-transform: uppercase;
        font-family: roboto;
        font-weight: bold;
        color: #fff;
        background-color: $ligthBlue;
        padding: 15px 30px;
        text-align: center;
        border: none;
        border-radius: 8px;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .voucherContainer {
    .content {
      .bannerContainer {
        padding: 10px 0px;
        .titleContainer {
          font-size: 25px;
        }
        .bannerTextContainer {
          font-size: 20px;
        }
      }
      .purchaseData {
        .dataContent {
          .data {
            flex-direction: column;
            margin-bottom: 15px;
            border-bottom: 1px $ligthBlue solid;
            .left,
            p {
              margin: 0%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .voucherContainer {
    .content {
      .bannerContainer {
        .titleContainer {
          font-size: 20px;
        }
        .bannerTextContainer{
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .voucherContainer {
    .content {
      .bannerContainer {
        .titleContainer {
          font-size: 20px;
        }
      }
    }
  }
}

.approved {
  font-weight: bold;
  color: green;
}
.canceled {
  font-weight: bold;
  color: red;
}
.pending {
  font-weight: bold;
  color: yellow;
}
